.Project {
  width: 100%;
  background-color: white;
}
.title {
  color: rgb(0, 0, 0);
  /* margin-top: 3rem; */
  /* margin-left: 3rem; */
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  width: 85%;
  margin-left: auto;
}
.inner {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.eachProjectContainer {
  flex: 1;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  height: 24rem;
  min-width: 33%;
  /* max-height: 100%; */
  /* min-height: 15rem; */
  /* max-height: 25rem; */
  background-image: linear-gradient(
    to top,
    #000000,
    #252223,
    #433e43,
    #625e66,
    #81808c,
    #9596a2,
    #aaadb9,
    #bfc4d0,
    #d0d2db,
    #e0e1e7,
    #f0f0f3,
    #ffffff
  );
}
.eachProjectContainer:hover {
  flex: 2;
  /* background-image: linear-gradient(to top, #000000, #342f2e, #645b56, #948e81, #c0c6b3); */
  color: white;
}
.eachProjectContainer:hover .Cover {
  height: 60%;
  transition: all 0.7s ease-in-out;
}
.eachProjectContainer:hover .Bottom {
  height: 40%;
  transition: all 0.7s ease-in-out;
}
.productinner {
  width: 90%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.Cover {
  /* flex: 2; */
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
}
.coverimg {
  object-fit: cover;
  aspect-ratio: 3/2;
  width: 100%;
  /* max-height: 10rem; */
  height: 90%;
  border-radius: 8px;
  margin-top: auto;
  margin-bottom: auto;
}
.Bottom {
  /* flex:3; */
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.projectHead {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: rgb(255, 255, 255);
}
.projectdetails {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: aliceblue;
}
@media (max-width: 600px) {
  .inner {
    width: 90%;
    flex-direction: column;
  }
  .eachProjectContainer {
    height: 28rem;
  }
}
