.Header{
    width: 100%;
    max-height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    color: white;
    overflow: hidden;
    position: relative;
    /* background: linear-gradient(-45deg, rgb(56, 55, 55), rgb(93, 89, 89)); */
}
/* .moving_colors{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, white,black,gray);
    animation: moveColors 20s linear infinite;
    opacity: 0.1;
  } */
.HeaderLeft{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 50%;
    margin-top: 0.5rem;
}



.Name {
  font-family: "Sacramento", "cursive";
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  margin-left: 2rem;
  cursor: pointer;
}

.iconBox{
  display: none;

}
.icon{
  font-size: 30px;
}

.HeaderRight{
    margin-top: 0.5rem;
    width: 50%;
    display: flex;
    height: 100%;
    align-items: center;
}
.inner{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    width: 50%;
    gap: 2rem;
    height: 100%;
    align-items: center;
    margin-top: 0.5rem;
}
.innerOpt{
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  width: 50%;
  gap: 2rem;
  height: 100%;
  align-items: center;
  margin-top: 0.5rem;
}
.each{
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    transition: text-shadow 1s ease-out;
    /* transition: color 1s ease-out; */
    display: inline-block;
    height: 100%;
}

.each:hover {
    /* animation: glow 1s infinite alternate; */
    text-shadow: 0 0 5px #3498db, 0 0 10px #3498db, 0 0 15px #3498db, 0 0 20px #3498db, 0 0 25px #3498db, 0 0 30px #3498db;
    color: rgb(255, 255, 255);
  }

@keyframes moveColors {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

  @keyframes glow {
    from {
      box-shadow: 0 0 10px #3498db, 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db;
    }
    to {
      box-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db, 0 0 50px #3498db;
    }
  }

  @media only screen and (max-width: 900px) {
    .Header {
      flex-direction: column; /* Stack elements vertically */
      max-height: 20rem;
    }
    .HeaderLeft{
      margin-left: 0px;
      margin-top: 0px;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
    }
    .Name{
      margin-left: 0px;
      font-size: 40px;
    }
    .iconBox{
      display: flex;
      
    }
  
    .HeaderRight {
      display: flex; /* Show on small screens */
      margin-top: 10px; /* Add some space between the name and menu */
      flex-direction: column;
      width: 100%;
    }
    .inner{
      width: 100%;
      margin-left: 0px;
    }
    .innerOpt{
      display: none;
    }
  
    .each {
      margin-bottom: 10px; /* Add some space between menu items */
    }
  }
